* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#nav {
    z-index: 1;
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 25px 35px;
    background-color: rgb(108, 108, 255);
    align-items: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.475);

    > a {
        text-decoration: none;
        color: white;
        font-weight: 900;
        font-size: 25px;
    }

    ul {
        margin-right: 50px;
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;

        li {
            a {
                text-decoration: none;
                padding: 10px;
                margin: 0px 10px;
                color: white;
                border-radius: 10px;
                transition: all 0.5s;
            }

            a:hover {
                background-color: rgba(0, 0, 0, 0.142);
            }
        }
    }

    // Media Query for smaller screens
    @media screen and (max-width: 768px) {
        padding: 15px 20px;

        > a {
            font-size: 20px;
        }

        ul {
            margin-right: 20px;

            li {
                a {
                    padding: 8px;
                    margin: 0px 8px;
                }
            }
        }
    }
}
